

.main{
  margin-top: 100px;
}

.form{
  width: 50%;
  margin: 0 auto;
}

.form-control{
  width: 90%;
}

.margin-btm-5{
  margin-bottom: 5px;
}

.form-icon{
  position: relative;
  top: 8px;
  left: -20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.add_button{
  position: relative;
  top: 8px;
  left: -5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: green;
  float: right;
}

.remove_button{
  position: relative;
  top: 8px;
  left: -5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: red;
  float: right;
}

.add_button:hover{
  text-decoration: none;
  color: grey;
}

.remove_button:hover{
  text-decoration: none;
  color: grey;
}

.field{
  margin-top: 5px;
}

.form-group h6{
  margin-left: 15px;
}



.link{
  padding: 10px 0 10px 16px;;
}

.list{
  position: relative;
  display: block;
  list-style: none;
  left: -40px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
